alias gs='git status'
alias gd='git diff -C -p --color=auto'
alias glp='git log -C -p --color=auto'
alias gdc='git diff --cached'
alias sde='start_dev_env'
alias update_aliases='echo "Updating aliases..."; . ~/.local_home/.aliases'
alias edit_aliases='vim ~/.local_home/.aliases && update_aliases'
alias vim_swp_files=" find . -iname *.swp -print | sed 's/\.\/\(.*\)\/\.\(.*\)\.swp/\1\/\2/'"
alias rails_ack="ack --ignore-dir=log --ignore-dir=tmp --ignore-dir=coverage --ignore-dir=test/proofs"
alias pygrep="ack --ignore-dir=build --ignore-dir=.eggs --ignore-dir=.tox --type=python"
alias jsgrep="ack --ignore-dir=build --ignore-dir=spec --ignore-dir=dist"
alias gogrep="ack --ignore-dir=vendor --ignore-dir=.gopath"
alias pytags="ctags -R --exclude=build --exclude=dist --fields=+l --languages=python --python-kinds=-iv -f ./tags $(python -c "import os, sys; print(' '.join('{}'.format(d) for d in sys.path if os.path.isdir(d)))")"
alias jstags='find . -type f -iregex ".*\.\(js\|jsx\|coffee\|es6\)$" -not -path "./node_modules/*" -exec jsctags {} -f \; > tags'
alias grc="git rebase --continue"
alias less="less -R"
alias json_logs="jq  -R 'fromjson? // '"
alias tmux_session_name="tmux display-message -p '#{session_name}'"
alias tmux_client_tty="tmux display-message -p '#{client_tty}'"
alias detach_other_clients='TMUX_NAME=$(tmux_session_name);TMUX_TTY=$(tmux_client_tty); echo "Removing all clients except $TMUX_TTY on session $TMUX_NAME"; tmux list-clients | grep -v $TMUX_TTY | grep $TMUX_NAME | pcol 1 | tr -d ':' | xargs -r -n 1 tmux detach-client -t'
alias ussh='ssh -J internal-access.us-east-1.resly.tech:4226'
